{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <form action="/register" method="POST" class="form-signin">
      <h1>Criar conta</h1>

      <input type="text" name="name" placeholder="Digite seu nome">
      <input type="email" name="email" placeholder="Digite seu email">
      <input type="password" name="password" placeholder="Digite sua senha">

      <button type="submit">Cadastrar</button>

      <a href="/">Já tenho conta</a>
    </form>
  </div>
{% endblock %}
